<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504449834445-krdr51q5p2g13sdqn3qunj3irkc8o858.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504449834445-krdr51q5p2g13sdqn3qunj3irkc8o858</string>
	<key>API_KEY</key>
	<string>AIzaSyAMB1jzMjV-reKKlWSjo3NhC1mC6n1XTxM</string>
	<key>GCM_SENDER_ID</key>
	<string>504449834445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mvvmTemplate</string>
	<key>PROJECT_ID</key>
	<string>mvvm-template-apptex</string>
	<key>STORAGE_BUCKET</key>
	<string>mvvm-template-apptex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504449834445:ios:f920537a3e69af86afb884</string>
</dict>
</plist>